html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.mybox{
  position: relative;
}
.red{
  color: red;
}
.blue{
  color: blue;
}
.hide{
  display: none;
}
#input{
}
#input_formula{
  height: 40px;
  color: #ff0000;
  text-align: center;
}
#input_formula:focus{
  border: 2px solid #ff0000;
  outline: 0;
}
#output{
}
#output_formula{
  height: 40px;
  color: #0000ff;
  border: 2px solid #0000ff;
  text-align: center;
}
.display_block{
  display: block;
}
.display_none{
  display: none;
}
.rev_img{
  transform: rotate(180deg);
}

#rules-div{
  text-align: left;
}
